.boes{
    border-radius: 4px;
    border: solid 1px rgb(38, 234, 64) ;
    color: rgb(229, 235, 230);
    background-color: rgb(62, 86, 66);
}



li{
    list-style: none;
    text-decoration: none;
}

.container-especial{
    padding-left: 240px;
    padding-right: 240px;
}








































